alembic==1.16.4
cloudinary==1.45.0
fastapi==0.116.1
firebase-admin==7.1.0
google-genai
httpx==0.28.1
Pillow
pillow-heif
psycopg[binary]==3.2.9
pydantic==2.11.7
PyMuPDF
pytest
python-dotenv==1.1.1
python-multipart==0.0.20
pytesseract
rapidfuzz
SQLAlchemy==2.0.41
uvicorn==0.35.0
python-dateutil==2.9.0.post0